.banner {
    font-size: xx-large;
}

.center {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

/*.border {*/
/*    border: solid thin black;*/
/*    padding: 3rem 1rem;*/
/*    border-radius: 1rem;*/
/*}*/

.greater {
    width: 50%;
    margin: 1rem auto;
    display: block;
}


.text {
    width: 70%;
}