<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎加入Corona MC Server!</title>
    <script src="static/jquery-3.4.1.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/popper.min.js"></script>
    <link rel="stylesheet" href="static/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/general.css" type="text/css">
</head>
<body>
<div class="banner">Welcome To Corona Server</div>
<div class="center border border-info">
    <div class="greater text">游客您好！希望加入corona minecraft服务器请登录/注册！</div>
    <a class="greater btn btn-primary" href="login">登录</a>
    <a class="greater btn btn-info" href="register">注册</a>
</div>
</body>
</html>