{% extends "App.html" %}
{% block title %}
Corona Minecraft Server
{% endblock %}
{% block content %}
    <div class="mdui-container-fluid">
        <div class="mdui-row mdui-row-gapless">
            <div id="back" class="mdui-col-xs-12">
                <div class="mdui-row text-center">
                    <div id="headline" class=" display-4 text-white col-12">
                        罗本东牛逼逼
                    </div>
                    <div class="center body text-white col-12">
                        企鹅群：239434096 邮箱：gmyxgmyx@outlook.com
                    </div>
                </div>
                <div id="buttons" class="mdui-row mdui-row-gapless mdui-m-t-3">
                    <div class="mdui-col-md-2 mdui-col-offset-md-5 mdui-col-sm-4 mdui-col-offset-sm-4 mdui-col-xs-8 mdui-col-offset-xs-2">
                        <div class="row mdui-valign">
                            <div class="mdui-col-xs-12">
                                <a
                                        class="mdui-btn mdui-color-green mdui-text-color-white float-left"
                                        href="login">
                                    登陆
                                </a>
                                <a
                                        class="mdui-btn mdui-color-red float-right"
                                        href="register">
                                    注册
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdui-row mt-3">
            <div class="mdui-col-xs-8 offset-2">
                <div class="mdui-row">
                    <div class="mdui-col-xs-4 icon">
                        <i class="mdui-icon material-icons" style="font-size: 200px">view_list</i>
                    </div>
                    <div class="mdui-col-md-8 mdui-col-sm-12 mt-4">
                        <div class="row mdui-typo-headline">
                            超强性能
                        </div>
                        <div class="row mdui-typo-title">
                            超强40核英特尔志强服务器，高达256GB内存，同时全国各地拥有加速节点，拥有极高的抗ddos能力，保证您的流畅游戏体验。
                        </div>
                    </div>
                </div>
                <div class="mdui-row">
                    <div class="mdui-col-xs-4 icon">
                        <i class="mdui-icon material-icons" style="font-size: 200px">school</i>
                    </div>
                    <div class="mdui-col-md-8 mdui-col-sm-12 mt-4">
                        <div class="row mdui-typo-headline">
                            专业维护
                        </div>
                        <div class="row mdui-typo-title">
                            本服务器由多名拥有丰富服务器维护经验计算机专业人士共同维护，为您的游戏保驾护航。
                        </div>
                    </div>
                </div>
                <div class="mdui-row">
                    <div class="mdui-col-xs-4 icon">
                        <i class="mdui-icon material-icons i" style="font-size: 200px">sentiment_very_satisfied</i>
                    </div>
                    <div class="mdui-col-md-8 mdui-col-sm-12 mt-4">
                        <div class="row mdui-typo-headline">
                            专业开发
                        </div>
                        <div class="row mdui-typo-title">
                            装有自主知识产权的Corona系列插件，体验别样Minecraft！
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdui-row-gapless">
                <div class="mdui-col-xs-12 mdui-color-black mdui-text-color-white">
                    <div class="ml-5 mdui-typo-body-2">
                        © 2020 The CoronaMC Team
                    </div>
                </div>
            </div>
        </div>

{#        <div class="center border border-info">#}
{#            <div class="greater text">游客您好！希望加入Corona Minecraft服务器请登录/注册！</div>#}
{#            <a class="greater btn btn-primary" href="login">登录</a>#}
{#            <a class="greater btn btn-info" href="register">注册</a>#}
{#        </div>#}
    </div>
{% endblock %}
{% block style %}
    <style>
        #back{
            height: 400px;
            background-image: url("https://s1.ax1x.com/2020/03/27/GPZEbd.jpg");
            background-repeat: no-repeat;
            background-blend-mode: lighten;
            background-position: bottom;
            background-size:cover
        }
        #headline{
            margin-top: 80px;
        }

        @media screen and (max-width: 1100px) {
            .icon{
                display: none;
            }
        }
    </style>
{% endblock %}

