{% extends "App.html" %}
{% block title %}登陆{% endblock %}
{% block content %}
    <div class="alert alert-danger {% if not err %} d-none {% endif %}" id="error">
        <strong>{{ operation }}失败</strong> {{ err }}
    </div>
    <div class="center">
        <h1>{{ operation }}</h1>
        <form method="post" class="needs-validation" novalidate
              action="{% if operation == '登录' %}/login{% elif operation == '注册' %}/register{% else %}/change_password{% endif %}">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" {% if operation != '修改密码' %}
                       name="username" {% else %}  readonly {% endif %} value="{{ pre.username }}" required>
            </div>
            {% if operation == '注册' %}
                <small id="passwordHelpBlock" class="form-text text-muted">
                    用户名理论上可以包含任何字符，但是不可以留空，且用户名是唯一的不能与其他人重复。请不要在用户名中包含不合适的字或词语。
                </small>
            {% endif %}
            {% if operation == '修改密码' %}
                <div class="form-group">
                    <label for="original_password">原密码</label>
                    <input type="password" class="form-control" id="original_password" name="original_password"
                           value="{{ pre.original_password }}" required>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="password">{% if operation == '修改密码' %}新{% endif %}密码</label>
                <input type="password" class="form-control" id="password" name="password" required
                       pattern="[1-9a-i]{6,16}"
                       value="{{ pre.password }}">
                <small id="password-hint" class="form-text invalid-feedback">
                    密码只能包含1-9、a-i的字符，并且长度务必在6-16位之间。
                </small>
            </div>
            {% if operation == '注册' or operation == '修改密码' %}
                <div class="form-group">
                    <label for="confirm_password">确认新密码</label>
                    <input type="password" class="form-control " id="confirm_password" required>
                    <small id="confirm_hint" class="form-text d-none" style="color: red">
                        两次密码输入不一致
                    </small>
                </div>
            {% endif %}
            {% if operation == '注册' %}
                <div class="form-group">
                    <label for="invite_code">邀请码</label>
                    <input type="text" class="form-control" id="invite_code" name="invite_code"
                           value="{{ pre.invite_code }}" required>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="captcha_input">验证码</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="captcha_input" name="captcha" required>
                    <img src="captcha/1" alt="验证码" onclick="update_captcha()" id="captcha_image">
                </div>
            </div>
            {% if operation == '注册' %}
                <div class="form-group">
                    <label for="invite_code">手机号</label>
                    <input type="text" class="form-control" id="invite_code" name="invite_code"
                           value="{{ pre.phone }}" required>
                </div>
                <div class="form-group">
                    <label for="phone_code">手机验证码</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="phone_code" required>
                        <button id="get_phone_code" class="btn btn-primary" onclick="get_code()">点击获取验证码</button>
                    </div>
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary greater">{{ operation }}</button>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        function update_captcha() {
            $("#captcha_image").attr("src", function (index, currentvalue) {
                return currentvalue + '1'
            })
        }

        function get_code() {
            console.log("2333")
        }

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
            {% if operation == '注册' %}

            {% endif %}

            {% if operation == '修改密码' or operation == '注册' %}
                let confirm_password_element = $('#confirm_password');
                let confirm_hint_element = $('#confirm_hint');
                let password_element = $('#password');
                $('#password, #confirm_password').on('keyup', function () {
                    if (password_element.val() === confirm_password_element.val()) {
                        if (confirm_password_element.hasClass('is-invalid')) {
                            confirm_password_element.removeClass('is-invalid');
                        }
                        confirm_password_element.addClass('is-valid');
                        if (!confirm_hint_element.hasClass('d-none')) {
                            confirm_hint_element.addClass('d-none');
                        }
                    } else {
                        if (confirm_password_element.hasClass('is-valid')) {
                            confirm_password_element.removeClass('is-valid');
                        }
                        confirm_password_element.addClass('is-invalid');
                        if (confirm_hint_element.hasClass('d-none')) {
                            confirm_hint_element.removeClass('d-none');
                        }
                    }
                });
            {% endif %}
        })();
    </script>
{% endblock %}
