{% extends "App.html" %}
{% block content %}
    <div class="mdui-container-fluid">
        <div class="mdui-row mdui-row-gapless">
            <form id="form" method="post">
                <div class="mdui-col-md-4 mdui-col-xs-8 mdui-col-offset-md-4 mdui-col-offset-xs-2">
                    <div class="mdui-typo-headline mdui-m-t-3">{% block headline %}{% endblock %}</div>
                    <div class="mdui-row-gapless mdui-row">
                        <div class="mdui-col-xs-12">
                            <div class="mdui-textfield">
                                <label class="mdui-textfield-label" for="username">用户名</label>
                                <input value="{{ pre.username }}" id="username" class="mdui-textfield-input"
                                       name="username" type="text" required/>
                                <div class="mdui-textfield-error">你这是什么奇怪的用户名</div>
                                <div class="mdui-textfield-helper">用户名必须符合Minecraft用户名规范</div>
                            </div>
                        </div>
                    </div>
                    <div class="mdui-row-gapless mdui-row">
                        <div class="mdui-col-xs-12">
                            <div class="mdui-textfield">
                                <label class="mdui-textfield-label" for="password">输入密码</label>
                                <input value="{{ pre.password }}" class="mdui-textfield-input" id="password"
                                       name="password" type="password" pattern="[1-9a-i]{6,18}" required/>
                                <div class="mdui-textfield-error">你这是什么奇怪的密码</div>
                                <div class="mdui-textfield-helper">
                                    密码的字符必须是1-9,a-i,长度6-18
                                </div>

                            </div>
                        </div>
                    </div>
                    {% block addition %}

                    {% endblock %}
                    <div class="mdui-row-gapless mdui-row mdui-m-b-5">
                        <div class="mdui-col-xs-12">
                            <input type="submit" class="mdui-btn mdui-btn-block mdui-color-black mdui-text-color-white"
                                   value="提交">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function update_captcha() {
            $("#captcha_image").attr("src", function (index, currentvalue) {
                return currentvalue + '1'
            })
        }
    </script>
{% endblock %}
{% block style %}
    <style>

    </style>
{% endblock %}